


layousfdgt: default
titlsfge: Communicating
displasdfgy_title: Communicating
indesdfgx: 3
class: page blogASF

<h1>Blog</h1>

<section id="blog-main">
    <input type="text" id="search-box-mobile" class="search-box" placeholder="Search..." />
    {% for p in site.posts %}
    <article class="blog-post-brief">
        <h1><a href="{{ p.url | prepend: site.baseurl }}">{{ p.title }}</a></h1>
        {% if p.author %}
        <div class="meta">
            by <span class="author">{{ p.author }}</span>
            {% if p.date %}
            on <time pubdate>{{ p.date | date: "%B %-d, %Y" }}</time>
            {% endif %}
        </div>
        {% endif %}
        <p class="blurb">
            {{ p.excerpt | remove: '<p>' | remove: '</p>' }}
        </p>
    </article>
    {% endfor %}
</section>
<aside id="blog-sidebar">
    <input type="text" id="search-box-desktop" class="search-box" placeholder="Search..." />
    <section id="blog-categories">
        <h1>Categories</h1>
        <ul>
            {% for cat in site.categories_list %}<li>
            {% capture cslug %}{{ cat | slugify }}{% endcapture %}
                <input type="checkbox" checked id="category-{{ cslug }}" data-category-name="{{ cslug }}" />
                <label for="category-{{ cslug }}">{{ cat }}</label>
            </li>{% endfor %}
        </ul>
    </section>
    <section id="blog-months">
        <h1>Months</h1>
        <ul>
            {% for m in site.data.months %}
            <li>
                <input type="checkbox" checked id="month-{{ m.month }}-{{ m.year }}" data-month="{{ m.month }}" data-year="{{ m.year }}" />
                <label for="month-{{ m.month }}-{{ m.year }}">{{ m.string }}</label>
            </li>
            {% endfor %}
        </ul>

    </section>
</aside>
<script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
<script type="text/javascript">
    {% include blog.js %}
</script>
