<footer>
    <div>
        <ul id="social-footer">
            {% for i in site.social %}
            <li class="{{ i.id }}"><a title="{{ i.title }}" href="{{ i.url }}">{{ i.title }}</a></li>
            {% endfor %}
            </ul>{% markdown footer-paragraph.md %}<nav>
            <ul>
                {% for pg in sorted_pages | sort: 'index' %}
                    {% if pg.title %}
                    <li><a href="{{ pg.url | prepend: site.baseurl }}">{{ pg.title }}</a></li>
                    {% endif %}
                {% endfor %}               
            </ul>
        </nav>
    </div>
</footer>

