#social-main li {
    &.facebook a {
        background-color: #325569;

        &:hover:before {
            background-color: #5C9EC2;
        }

        &:after {
            background-size: 22% auto;
            background-image: url('../images/social/facebook.svg');
        }

        &:hover:after {
            background-size: 28% auto;
        }

    }

    &.twitter a {
        background-color: #488f65;

        &:hover:before {
            background-color: #62C389;
        }

        &:after {
            background-size: 40% auto;
            background-image: url('../images/social/twitter.svg');
        }

        &:hover:after {
            background-size: 50% auto;
        }

    }

    &.linkedin a {
        background-color: #6e4542;

        &:hover:before {
            background-color: #B16F6A;
        }

        &:after {
            background-size: 35% auto;
            background-image: url('../images/social/linkedin.svg');
        }

        &:hover:after {
            background-size: 45% auto;
        }
    }

    &.github a { 
        background-color: #c98536;

        &:hover:before {
            background-color: #FFA844;
        }

        &:after {
            background-size: 42% auto;
            background-image: url('../images/social/github.svg');
        }

        &:hover:after {
            background-size: 52% auto;
        }

    }

    &.codeforces a {
        background-color: #822d55;

        &:hover:before {
            background-color: #C74485;
        }

        &:after {
            background-size: 44% auto;
            background-image: url('../images/social/codeforces.svg');
        }

        &:hover:after {
            background-size: 54% auto;
        }
    }

    &.topcoder a {
        background-color: #4a3b6d;
        &:hover:before {
            background-color: #8066BC;
        }

        &:after {
            background-size: 64% auto;
            background-image: url('../images/social/topcoder.svg');
        }

        &:hover:after {
            background-size: 74% auto;
        }

    }
}

#social-footer li {
    &.facebook {
        background-image: url('../images/social/facebook.svg');
        background-size: auto 16px;
        background-position: 99%;
    }

    &.twitter {
        background-image: url('../images/social/twitter.svg');
    }

    &.linkedin {
        background-image: url('../images/social/linkedin.svg');
    }

    &.github { 
        background-image: url('../images/social/github.svg');
    }

    &.codeforces {
        background-image: url('../images/social/codeforces.svg');

    }

    &.topcoder {
        background-image: url('../images/social/topcoder.svg');
    }
}
